<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            All documents in the database:
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.back.url }}">{{ document.back.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "file_loader" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.name.label_tag }} {{ form.name.help_text }}</p>
            <p>
                {{form.name.errors}}
                {{form.name}}
            </p>

            <p>{{ form.fronts.label_tag }} {{ form.fronts.help_text }}</p>

            <p>
                {{ form.fronts.errors }}
                {{ form.fronts }}
            </p>

            <p>{{ form.back.label_tag }} {{ form.back.help_text }}</p>

            <p>
                {{ form.back.errors }}
                {{ form.back }}
            </p>

            <p><input type="submit" value="Upload", name="upload"/></p>
        </form>

        <br>
        <br>

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "file_loader" %}" method=get" enctype="multipart/form-data">
            {% csrf_token %}
            {{ "Select export parameters and download the files" }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.plotter_formats.label_tag }} {{ form.plotter_formats.help_text }}</p>
            <p>
                {{form.plotter_formats.errors}}
                {{form.plotter_formats}}
            </p>

            <p>{{ form.cards_formats.label_tag }} {{ form.cards_formats.help_text }}</p>
            <p>
                {{ form.cards_formats.errors }}
                {{ form.cards_formats }}
            </p>

            <p>{{ form.padding.label_tag }} {{ form.padding.help_text }}</p>
            <p>
                {{ form.padding.errors }}
                {{ form.padding }}
            </p>

            <p>{{ form.unit_of_measurement.label_tag }} {{ form.unit_of_measurement.help_text }}</p>
            <p>
                {{ form.unit_of_measurement.errors }}
                {{ form.unit_of_measurement }}
            </p>

            <p>{{ form.cut_lines.label_tag }} {{ form.cut_lines.help_text }}</p>
            <p>
                {{ form.cut_lines.errors }}
                {{ form.cut_lines }}
            </p>

            <p>{{ form.frame_lines.label_tag }} {{ form.frame_lines.help_text }}</p>
            <p>
                {{ form.frame_lines.errors }}
                {{ form.frame_lines }}
            </p>

            <p><input type="submit" value="Confirm&Download", name="confirm&download"/></p>
        </form>


    </body>
</html>