<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            All documents in the database:
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.back.url }}">{{ document.back.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "file_loader" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.name.label_tag }} {{ form.name.help_text }}</p>
            <p>
                {{form.name.errors}}
                {{form.name}}
            </p>

            <p>{{ form.fronts.label_tag }} {{ form.fronts.help_text }}</p>

            <p>
                {{ form.fronts.errors }}
                {{ form.fronts }}
            </p>

            <p>{{ form.back.label_tag }} {{ form.back.help_text }}</p>

            <p>
                {{ form.back.errors }}
                {{ form.back }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>



    </body>
</html>