<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Playing Cards Paginator</title>
        <style>
            .grid-container {
                display: grid;
                grid-template-columns: 3fr auto 3fr;
                background-color: #2196F3;
                padding: 10px;
            }
            .grid-item {
                background-color: rgba(255, 255, 255, 0.8);
                border: 1px solid rgba(0, 0, 0, 0.8);
                padding: 20px;
                font-size: 18px;
                text-align:left;
            }
            table, th, td {
                width: auto;
                text-align: left;
                padding-right: 40px;
                border-color: black;
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>

    <body>
        <!-- List of uploaded documents -->
        <nav>
            <form action="{% url "file_loader" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if backs_fronts %}
                    All your decks:
                    <table>
                        <tr>
                            <th></th>
                            <th>Back</th>
                            <th>Front sample</th>
                        </tr>

                        {% for back, front in backs_fronts %}
                            <tr>
                                <td><p><input type="submit" value="Delete" name="{{back.group_name}}"/></p></td>
                                <td><a href="{{ back.back.url }}" target="_blank">{{ back.group_name }}</a></td>
                                <td><a href="{{ front.front.url }}" target="_blank">{{ front.group_name }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>There are no decks, load them below!</p>
                {% endif %}
            </form>
        </nav>

        <div class="grid-container">
            <!-- Upload form. Note enctype attribute! -->
            <div class="grid-item">
                <form action="{% url "file_loader" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ message_up }}
                    <p>{{ form.non_field_errors }}</p>

                    <p>{{ form.name.label_tag }} {{ form.name.help_text }}</p>
                    <p>
                        {{form.name.errors}}
                        {{form.name}}
                    </p>

                    <p>{{ form.fronts.label_tag }} {{ form.fronts.help_text }}</p>

                    <p>
                        {{ form.fronts.errors }}
                        {{ form.fronts }}
                    </p>

                    <p>{{ form.back.label_tag }} {{ form.back.help_text }}</p>

                    <p>
                        {{ form.back.errors }}
                        {{ form.back }}
                    </p>

                    <p><input type="submit" value="Upload", name="upload"/></p>
                </form>
            </div>

            <br>
            <br>

            <div class="grid-item">
                <!-- Upload form. Note enctype attribute! -->
                <form action="{% url "file_loader" %}" method=get" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ message_down }}
                    <p>{{ form.non_field_errors }}</p>

                    <!-- <p>{{ form.plotter_formats.label_tag }} {{ form.plotter_formats.help_text }}</p>
                    <p>
                        {{form.plotter_formats.errors}}
                        {{form.plotter_formats}}
                    </p> -->
                    <p>{{ form.plotter_height.label_tag }} {{ form.plotter_height.help_text }}(mm)</p>
                    <p>
                        {{form.plotter_height.errors}}
                        {{form.plotter_height}}
                    </p> 
                    <p>{{ form.plotter_width.label_tag }} {{ form.plotter_width.help_text }}(mm)</p>
                    <p>
                        {{form.plotter_width.errors}}
                        {{form.plotter_width}}
                    </p> 

                    <!-- <p>{{ form.cards_formats.label_tag }} {{ form.cards_formats.help_text }}</p>
                    <p>
                        {{ form.cards_formats.errors }}
                        {{ form.cards_formats }}
                    </p> -->
                    <p>{{ form.cards_height.label_tag }} {{ form.cards_height.help_text }}(mm)</p>
                    <p>
                        {{ form.cards_height.errors }}
                        {{ form.cards_height }}
                    </p>
                    <p>{{ form.cards_width.label_tag }} {{ form.cards_width.help_text }}(mm)</p>
                    <p>
                        {{ form.cards_width.errors }}
                        {{ form.cards_width }}
                    </p>

                    <p>{{ form.padding.label_tag }} {{ form.padding.help_text }} (mm)</p>
                    <p>
                        {{ form.padding.errors }}
                        {{ form.padding }}
                    </p>

                    <!-- <p>{{ form.unit_of_measurement.label_tag }} {{ form.unit_of_measurement.help_text }}</p>
                    <p>
                        {{ form.unit_of_measurement.errors }}
                        {{ form.unit_of_measurement }}
                    </p> -->

                    <p>{{ form.cut_lines.label_tag }} {{ form.cut_lines.help_text }}</p>
                    <p>
                        {{ form.cut_lines.errors }}
                        {{ form.cut_lines }}
                    </p>

                    <p>{{ form.frame_lines.label_tag }} {{ form.frame_lines.help_text }}</p>
                    <p>
                        {{ form.frame_lines.errors }}
                        {{ form.frame_lines }}
                    </p>

                    <p><input type="submit" value="Confirm&Download", name="confirm&download"/></p>
                </form>
            </div>
        </div>
    </body>
</html>